@keyframes name{
    0%{
        color: #772f1a;
    }
    50%{
        color: #fefae0;
        flex-direction: row-reverse;
    }
    100%{
        color: #772f1a;
        flex-direction:row;
    }
}

@keyframes city{
    0%{
        color: #772f1a;
    }
    50%{
        color: #dda15e;
        flex-direction: row-reverse;
    }
    100%{
        color: #772f1a;
        flex-direction:row;
    }
}


.personal_pic{
    width:150px;
    line-height: 75px;
}

.card{
    width:400px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color:#f3c4fb;
    border-bottom:6px solid #c8e7ff;
    border-radius: 8px;
    animation: name 5s 3;
}


.info{
    font-size: 14px;
    text-align: center;
    color:#772f1a;
    font-family:Garamond, serif;
    text-shadow: 2px 2px 5px #d1b3c4;
}

h1{
    animation: name 5s 3;

}

h2{
    animation: city 5s 3;
}



